@import "src/constants/styles/common";

.order-edit {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $main-lightgrey-color;
  padding: 1rem;

  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__selectors {
      display: flex;
      margin-bottom: 1rem;

      div {
        width: 95px;
        font-size: 11px;
      }
    }
    &__button .ant-form-item {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 540px) {
  .order-edit {
    &__form {
      flex-direction: column;

      &__selectors {
        flex-direction: column;

        div:not(:last-child) {
          margin-bottom: .25rem;
        }
        div {
          width: 100%;
        }
      }
    }
  }
}
