@import "src/constants/styles/common";

.admin-header {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $main-white-color;
  min-height: 4rem;
  padding: 0 1.75rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .08);
  z-index: 1;

  &__burger-menu {
    display: none;
    border-right: 1px solid #CACEDB;

    img {
      cursor: pointer;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    padding: 0 .5rem;
  }
  &__notice {
    position: relative;
    width: 70px;
    border-left: 1px solid #CACEDB;
    border-right: 1px solid #CACEDB;

    div.drop-down-menu {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
  &__profile {
    position: relative;
    width: 220px;

    div.drop-down-menu {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    nav.drop-down-menu__list_active-admin {
      right: 0;
    }
  }
  &__modal-search .input-field {
    width: 90%;
  }
  &__modal-search .input-field__container {
    width: 100%;
  }
}

.admin-header {
  &__search .input-field {
    width: 100%;
    margin-right: .625rem;
  }
  &__search .input-field__container {
    border-bottom: none;
    width: 100%;

    div {
      display: flex;
    }
  }
  &__search .input-field__input {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .admin-header {
    &__burger-menu {
      display: flex;
      align-items: center;

      img {
        width: 1.625rem;
        margin-right: .5rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .admin-header__search {
    cursor: pointer;
  }
  .admin-header__search .input-field {
    display: none;
  }
  .admin-header__search .input-field__input {
    display: none;
    padding: 0;
    margin: 0;
  }
  .admin-header__search .input-field__close-btn {
    display: none;
    padding: 0;
  }
}
