@import "src/constants/styles/common";

.admin-header {
  display: flex;
  width: 100%;
  background-color: $main-white-color;
  height: 4rem;
  padding: 0 1.75rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .08);

  &__search {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
  }
  &__notice {
    width: 70px;
    border-left: 1px solid #CACEDB;
    border-right: 1px solid #CACEDB;
  }
  &__profile {
    width: 220px;
  }
}

.admin-header {
  &__search .input-field {
    width: 100%;
    margin-right: .625rem;
  }
  &__search .input-field__container {
    border-bottom: none;
    width: 100%;

    div {
      display: flex;
    }
  }
  &__search .input-field__input {
    width: 100%;
  }
}
