@import "src/constants/styles/common";

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    height: 1.5rem;
  }
  img:hover {
    cursor: pointer;
  }
  &__bell {
    position: relative;

    &__count {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: red;
      color: $main-white-color !important;
      top: 50%;
      left: 60%;
      width: 1rem;
      height: 1rem;
      font-size: 0.75rem;
    }
  }
}
