@import "src/constants/styles/common";

.list-of-cars {
  &__info {
    display: flex;
    flex-direction: column;
    min-height: 386px;
    border-radius: 0.5rem;
    background-color: $main-white-color;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 3px 6px 0 rgba(0, 0, 0, .1), 0 9px 28px 8px rgba(0, 0, 0, .05);

    .ant-select-open {
      font-size: 11px;
    }

    &__table {
      display: flex;
      align-items: flex-start;
      flex-grow: 1;
      padding: 1rem;
      font-size: .75rem;
      overflow: auto;

      table {
        width: 100%;

        thead tr, tbody tr {
          border-bottom: 1px solid white;

          :not(:last-child) {
            border-right: 1px solid $main-white-color;
          }
        }

        thead th {
          background-color: #EDEDED;
        }

        thead th:nth-child(-n+6) {
          width: 10%;
        }

        thead th:nth-child(7) {
          width: 20%;
        }

        thead th:nth-child(8) {
          width: 20%;
        }

        th, td {
          padding: .5rem;
          text-align: center;
        }

        tbody tr td:not(:first-child) {
          color: #818EA3;
        }

        img {
          width: 3rem;
        }

        tbody tr:nth-child(even) {
          background-color: #F8F8F8;
        }
        
        tbody tr:hover {
          background-color: $main-lightgrey-color;
          cursor: pointer;
        }
      }

      &_loading {
        align-items: center;
      }
    }
  }
  &__pagination {
    border-top: 1px solid #EEEEEE;
    padding: 1rem;
    text-align: center;
  }
}
