.admin-page {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #F5F6F8;
    overflow: auto;
}

.admin-page h2,
.admin-page h3,
.admin-page p,
.admin-page div {
    color: #3D5170;
}

.admin-page .ant-menu-item-selected {
    color: #1890ff;
}
