@import "src/constants/styles/common";

.order-menu {
  &__info {
    display: flex;
    flex-direction: column;
    min-height: 386px;
    border-radius: 0.5rem;
    background-color: $main-white-color;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 3px 6px 0 rgba(0, 0, 0, .1), 0 9px 28px 8px rgba(0, 0, 0, .05);

    &__status {
      padding: .5rem 1rem;
      flex-grow: 1;
    }
    &__status_loading {
      display: flex;
      align-items: center;
    }
    &__pagination {
      border-top: 1px solid #EEEEEE;
      padding: 1rem;
      text-align: center;
    }
  }
}
